/* div{
background: teal;
} */

.state-page-main-container{
    background-color: rgba(69, 214, 166, 0.302);
    display: grid;
    grid-template-columns: 3fr 2fr;
    margin-left: 2rem;
    margin-right: 2rem;
    height: 80vh;
    margin: 16px;
    padding: 12px;
    gap: 32px;
}

.component-container{
    border-radius: 30px;
    border: 1px solid black;
}

.accordion-header button{
    background-color: rgba(48, 149, 116, 0.45);
}