#Carousel-container {
    width:95%;
    margin-left:2%;
};

.carousel-inner > .item {
    position: relative;
    max-height: 600px;
}
.carousel-caption {
    position: absolute;
    top: 35%;
    transform: translateX(35%);
    
}

#text {
    background-color:rgb(143, 184, 143);
    opacity: 90%;
    padding: .5%;
    text-decoration: none;
    border-radius: 10%;
    color: white
}


#text:hover {
    transform:scale(1.02);
    background: darkgreen;
    color: white;
}

.About {
    display:flex;
    margin:5%;
    padding:1%;
}

.About-child{
    flex:1;
}

#title{
    font-size:3rem;
    padding-bottom: 1rem;
}

#protest{
    width:120%;
    padding-left: 3rem;
}

#about-intro{
    text-align: left;
    text-size:22px;
}

#about-two{
    padding-left: 8rem;
    padding-right:2rem;
}

p{
    margin-bottom:30px;
}